@import "vars";
@import "mixins";
$transZ: 2400px;
#main {
  @include flexCenter();
  width: 100%;
  height: 100vh;
  .scene {
    width: 1200px;
    height: 600px;
    perspective: 1000px;
    .carousel {
      @include wh100();
      position: relative;
      transform-style: preserve-3d;
    //   transform: translateZ(-2400px);
      .face {
        position: absolute;
        @include wh100();
        @include flexCenter();
        color: #fff;
        background-color: #111;
        font-size: 36px;
        font-weight: 700;
        opacity: 0.7;
        //10n+1 : 1번과 11번, 21번,, 에 같은 css를 적용한다는 의미
        &:nth-child(10n+1){background-color: rgb(255, 0, 0);}
        &:nth-child(10n+2){background-color: rgb(255, 72, 0);}
        &:nth-child(10n+3){background-color: rgb(255, 174, 0);}
        &:nth-child(10n+4){background-color: rgb(255, 251, 0);}
        &:nth-child(10n+5){background-color: rgb(123, 255, 0);}
        &:nth-child(10n+6){background-color: rgb(0, 255, 13);}
        &:nth-child(10n+7){background-color: rgb(0, 255, 115);}
        &:nth-child(10n+8){background-color: rgb(0, 255, 242);}
        &:nth-child(10n+9){background-color: rgb(0, 38, 255);}
        &:nth-child(10n+10){background-color: rgb(98, 0, 255);}
      }
    }
  }
  .pagination{
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    button{
        width: 50px;
        height: 50px;
        @include flexCenter();
        // background-color: cornsilk;
        margin: 0 10px;
        cursor: pointer;
        .material-icons{
            font-size: 48px;
            color: #fff;
        }
    }
  }
}
