@import "vars";
@import "mixins";
$cube-width:80px;
#main {
  @include flexCenter();
  width: 100%;
  height: 100vh;
  #cubeBox{
      width: calc(81px * 15);
      display: flex;
      justify-content: start;
      align-items: center;
      flex-wrap: wrap;
  }
  .scene {
    width: $cube-width;
    height: $cube-width;
    margin: 0 1px 1px 0;
    perspective: 800px;
    .cube {
      @include wh100();
      position: relative;
      transform-style: preserve-3d;
      transform: translateZ(-($cube-width / 2));
    //   transform: rotateX(45deg) rotatesY(45deg);
      .face {
        position: absolute;
        @include wh100();
        @include flexCenter();
        color: #fff;
        font-size: 32px;
        font-weight: 300;
        overflow:hidden;
        // opacity: 0.5;   
        &.right { transform: rotateY(90deg) translateZ($cube-width / 2); background-color: rgb(0, 171, 177); @include longShadow(darken(rgb(0, 171, 177),10),right,100);}
        &.left { transform: rotateY(-90deg) translateZ($cube-width / 2); background-color: rgb(196, 0, 0); @include longShadow(darken(rgb(196, 0, 0),10),right,100);}
        &.top {transform: rotateX(90deg) translateZ($cube-width / 2); background-color: rgb(240, 100, 0); @include longShadow(darken(rgb(240, 100, 0),10),right,100);}
        &.bottom {transform: rotateX(-90deg) translateZ($cube-width / 2); background-color: rgb(0, 179, 0); @include longShadow(darken(rgb(0, 179, 0),10),right,100);}
        &.front {transform: rotateY(0) translateZ($cube-width / 2); background-color: rgb(134, 0, 201); @include longShadow(darken(rgb(134, 0, 201),10),right,100);}
        &.back {transform: rotateY(180deg) translateZ($cube-width / 2); background-color: rgb(248, 178, 0); @include longShadow(darken(rgb(248, 178, 0),10),right,100);}
      }
    }
  }
  .pagination{
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    ul{
      display: flex;
      justify-content: center;
    }
    button{
      &.none{
          display: none;
      }
    }
    button,li{
        width: 30px;
        height: 30px;
        border: 2px solid #000;
        @include flexCenter();
        background-color: #fff;
        margin: 0 2px;
        cursor: pointer;
        transition: 0.25s ease;
        box-sizing: border-box;
        &.on{
          background-color: #000;
          color: #fff;
          transition: 0.25s ease;
        }  
    }
  }
}
